<extend name="Public/base"/>

<block name="script">
    <script type="text/javascript" src="__JS__/highcharts.js"></script>
</block>
<block name="body">

    <!-- 标题栏 -->
    <div class="main-title">
        <h2>参数管理</h2>
    </div>
    <div class="clearfix">

    </div>

    <!-- 数据列表 -->
    <div class="data-table with-padding">
        <table class="table table-bordered table-striped ">
            <thead>
            <tr>
                <th class="">农药使用次数</th>
                <th class="">预设计算天数</th>
                <th class="">操作</th>

            </tr>
            </thead>
            <tbody>
            <form  action="{:U('Constant/index')}"  method="post">
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input name="useCount" value="{$vo.useCount}"></td>
                        <td><input name="estimateDays" value="{$vo.estimateDays}"></td>
                        <td>
                            <button id="add-group" type="submit"
                               class="btn">修改</button>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center">{:L('_ADMIN_USER_EMPTY_')}</td>
            </notempty>
            </form>
            </tbody>
          
        </table>
    </div>

</block>
<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function () {
            var url = $(this).attr('url');
            var query = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function (e) {
            if (e.keyCode === 13) {
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav("{:U('User/index')}");
    </script>
</block>